#main {
  background-color: #eee;
  text-align: center;
  font-family: arial;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#img-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#image {
  display: block;
  max-width: 100%;
}

#img-caption {
  font-size: 14px;
}

#tribute-info {
  text-align: left;
  margin: 0px 300px 0px 300px;
}

#tribute-info h2 {
    text-align: center;
}
